anyio==4.2.0
astroid==3.0.2
autopep8==2.0.4
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.11.17
colorama==0.4.6
dill==0.3.7
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
isort==5.13.2
mccabe==0.7.0
mypy==1.7.1
mypy-extensions==1.0.0
platformdirs==4.1.0
pycodestyle==2.11.1
pylint==3.0.3
sniffio==1.3.0
soupsieve==2.5
tomlkit==0.12.3
types-html5lib==1.1.11.15
typing_extensions==4.9.0
